<div id="<%= dom_id link %>">
  <p>
    <strong>Original:</strong>
    <%= link.original %>
  </p>

  <p>
    <strong>Shortened:</strong>
    <%= link.shortened %>

    <%= link_to "Visit Short Link", link.shortened %>
  </p>

  <p>Visits: <%= link.count || 0 %></p>

</div>
